<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="icon" href="Mr_Beet.png" type="image/x-icon">
    <link rel="stylesheet" href="static/inicio.css">
</head>
<body>
    <div class="container">
            <!-- Títulos -->
            <h1 class="title">Vish meu amigo, deu erro ai</h1>
            <!-- Botão de login -->
            <p><a href="{{ url_for('music.index') }}" class="button">Inicio</a></p>
    </div>
</body>
</html>